<html lang="en">
    <div class=" flex flex-row items-center justify-center w-full bg-slate-800 border-2 rounded-lg h-32">
        <nav class="p-4">
            <a href="/" class="text-white mr-4">Home</a>
            <a href="/users" class="text-white">Users</a>
            <a href="/users/create" class="text-white ml-4">Create User</a>
        </nav>
    </div>
</html>