<html lang="en">
<%- include ('./partials/head.ejs') %>
<body>
    <div class="bg-black">
        <h1 class="text-red-700 ml-6">Hello World</h1>
        <p class="text-cyan-800"> Hey</p>
    </div>

</body>
</html>